@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   display: flex;
   flex-direction: column;
   text-align: start;
}

#container-header {
   background-color: black;
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 80px;
   flex-direction: column;
   font-size: 40px;
}

#titulo {
   padding: 20px;
   text-align: center;
   color: rgb(255, 255, 255);
   font-family: 'Passion One', Arial, Helvetica, sans-serif;
   font-size: 2em;
}

#container-header #paragrafo-titulo {
   color: rgb(255, 255, 255);
   font-size: 0.5em;
   font-family: Arial, Helvetica, sans-serif;
}

#conteudo-principal {
   font-family: 'Sriracha';
   font-size: 3vw;
}

#primeira-estrofe {
  padding: 20px;
   background-color: rgb(255, 255, 255);
}

#primeira-img-parallax {
   background-image: url('imagens/background001.jpg');
   background-size: cover;
   background-position: center center;
   background-attachment: fixed;
   padding: 30px 0px;
   box-shadow: inset -1px -1px 13px 2px #444444; 
}

#segunda-estrofe {
   max-width: 43%;
   margin-left: 20px;
   background-color: #00000042;
   color: #fff;
   padding: 1px; 
}

#terceira-estrofe {
   padding: 20px;
   background-color: rgb(255, 255, 255);
   
}

#quarta-estrofe {
  padding: 20px;
   background-color: rgb(255, 255, 255); 
   
}

#segunda-img-parallax {
   background-image: url('imagens/background002.jpg');
   background-size: cover;
   background-position: center center;
   background-attachment: fixed;
   padding: 30px 0px;
   box-shadow: inset -1px -1px 20px 2px #444444;
   
}


#quinta-estrofe {
   max-width: 43%;
   margin-left: 20px;
   background-color: #00000042;
   color: #fff;
   padding: 1px;
   
  
}

#sexta-estrofe {
   background-size: cover;
   background-position: center center;
   background-attachment: fixed;
   padding: 20px;
   background-color: rgb(255, 255, 255);
   color: #000000;
   margin-bottom: 30px;
}


#setima-estrofe {
   background-size: cover;
   background-position: center center;
   background-attachment: fixed;
   padding: 20px;
   background-color: rgb(255, 255, 255);
   color: #000000;
   margin-bottom: 30px;
}

#footer {
   font-family: Arial, Helvetica, sans-serif;
   display: flex;
   align-items: center;
   justify-content: center;
   width: 100%;
   padding: 15px;
   background-color: #000000;
   color: #fff;
   font-size: 18px;
   text-align: center;
}

.links {
   color: #fff;
   text-decoration: none;
}

.links:hover{ 
   text-decoration: underline;
}