body {
   margin: auto;
   height: 100vh;
   background-size: cover;
   background-position: center center;
   background-image: url('imagens/espaco.jpg');
   background-repeat: no-repeat;
}

img {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

